/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
/**Agregando Estilos globales **/
body {
  font-family: verdana, geneva,serif;
}
header {
  padding: 20px 0;
}
div.contenedor {
  width: 1200px;
  margin: 0 auto;
}
